* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial;
    margin: 0;
    background-color: #F3F3E2;
}

.header {
    width: 100%;
  /*height: 200px; */
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #475657;
    color: #E9E2D0;
    display: flex;
}

.header h1 {
    padding: 5px;
    background-color: #55868c;
    width: 180px;
    
    /* display: inline-block; */
}

.header nav {
    padding-top: 10px;
    margin-right: 10px;
    width: 100%;
    /* float: right; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    
}

.header nav ul {
    list-style-type: none;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

/* .header nav ul li {
    display: inline-block;
    margin-left: 25px;
} */

.navlinks {
    color: #E9E2D0;
}

.top-picture {
    width: 100%;
    height: 300px;
    background-image: url("../images/teal.jpeg");
    display: flex;
}

.content {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}


.article-title{
    /* flex: 1; */
    width: 300px;
    border-right: 4px solid #55868c;

}
.article-title h2{
    float: right;
    padding-right: 20px;
}
.main-details{
    
    width: 100%;
    padding-left: 35px;
    
}
.myworks{
    flex: 0 1 auto; 
}
/* .work-text {
    width: 300px;
} */

/* .contactme-text {
    width: 300px;
} */
.myworks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
img{
    
    height: 269px;
    object-fit: cover;
    border: 4px solid #F8990E;
}
.main-work{
    width: 1165px;
}
.other-works{
    width: 550px;
}
.section{
    position: relative;
    padding: 20px 0 0 0;
}
.first-section{
    padding: 0 0 0 0;
    flex: 0 2 auto;
}
.work-description{
    width: max-content;
    height: 60px;
    background-color: #F8990E;
    position: absolute;
    bottom: 50px;
    padding: 5px 5px 0 5px;

}
.contact-options ul {
    list-style-type: none;
}

.contactlist{
    display: flex;
    
}
.contactlist li{
    padding-right: 40px;
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    
}