* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial;
    margin: 0;
    background-color: #F3F3E2;
}

.header {
    /* width: 100%;
  height: 200px; */
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #475657;
    color: #E9E2D0;
    display: flex;
}

.header h1 {
    padding: 5px;
    background-color: #55868c;
    width: 180px;
    
    /* display: inline-block; */
}

.header nav {
    padding-top: 10px;
    margin-right: 10px;
    width: 100%;
    /* float: right; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    
}

.header nav ul {
    list-style-type: none;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

/* .header nav ul li {
    display: inline-block;
    margin-left: 25px;
} */

.navlinks {
    color: #E9E2D0;
}

.top-picture {
    width: 100%;
    height: 300px;
    background-image: url("../images/teal.jpeg");
}

.content {
    padding: 30px;
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.articles {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

/* .about-me{
   float: right;
} */
.article-title{
    width: 300px;

}
.article-title h2{
    float: right;
    padding-right: 20px;
}
.main-details{
    width: 1200px;
    padding-left: 20px;
    border-left: 2px solid #55868c;
}

/* .work-text {
    width: 300px;
} */

/* .contactme-text {
    width: 300px;
} */
.myworks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
img{
    
    height: 269px;
    object-fit: cover;
}
.main-work{
    width: 1178px;
}
.other-works{
    width: 550px;
}
.section{
    position: relative;
}
.work-description{
    width: max-content;
    height: 60px;
    background-color: #F8990E;
    position: absolute;
    bottom: 50px;
    padding: 5px 5px 0 5px;

}
.contact-options ul {
    list-style-type: none;
}

.contactlist{
    display: flex;
    
}
.contactlist li{
    padding-right: 40px;
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    
}